															/* CSS for New Photos Site (Now with Letters! July 31 2020) */
:root {
	--backgroundColor: #262626;
	--textMain: white;
	--textAlt: #d8d8d8;
	--textDark: #9c9c9c;

}

/*Fonts*/
@font-face {
	font-family: openSans;
	src: url("OpenSansRegular.ttf");
	font-family: ubuntu;
	src: url("Ubuntu/Ubuntu-Regular.ttf");
}

html {
	background-color: var(--backgroundColor);
}

body {
	margin: 0;
	padding: 0 10%;
}

h1 {
	color: var(--textMain);
	font-family: ubuntu, sans-serif;
	font-size: 64pt;
	margin: 2rem 0;
}

p {
	font-family: ubuntu, sans-serif;
	font-size: 12pt;
	color: var(--textMain);
	text-align: left;
}

.cardList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	list-style-type: none;

	padding: 0 5%;
}

.cardList a {
	text-decoration: none;
	text-align: center;
	display: block;

	font-size: 24pt;
	font-family: ubuntu, sans-serif;
	font-weight: 800;
	color: var(--backgroundColor);

	padding: 2.5rem;
}

.card {
	background-color: var(--textMain);
	opacity: 0.75;
	
	flex-basis: 100vw;

	border-radius: 10px;
	margin: 1rem;

	transition: transform 300ms;
	}

.card:hover {
	box-shadow: 0 0 10px #A5A5A5;
	transform: scale(1.025);
}

.card:focus {
	background-color: var(--textAlt);
}

.card:active {
	background-color: var(--textAlt);
}

.card a {
	flex-grow: 1;
}


/* Scaleable Gallery Grid Setup - Credit: https://codepen.io/vhanla/pen/PxjZvj?editors=1100*/

.gallery {
  display: grid;
  grid-column-gap: auto;
  grid-row-gap: auto;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.gallery img {
  max-width: 100%;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px #1E1E1E;
}

.gallery img:hover {
  box-shadow: 0 0 10px #333;
}

.gallery .content {
  padding: 0.25rem;
}

.gallery .gallery-item {
  transition: transform 300ms;
  transform: scale(0.98);
  cursor: pointer;
}

.gallery .gallery-item:hover {
  transform: scale(1);
}

/*List of Helpful Links at the Top - Credit: https://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_menu*/

nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: safe flex-end;
	align-items: center;

	list-style-type: none;

	padding: 1rem;
	margin-top: 1rem;
}

nav ul {
	padding: 0;
	margin: 0;
}

nav li a:hover {
	color: var(--textAlt);

	animation-name: navBarHover;
	animation-duration: 150ms;
	animation-delay: 0;
}

@keyframes navBarHover{
	from {color: white;}
	to {color: var(--textAlt);}
}

nav li {
	display: inline;

	color: var(--textMain);
	list-style-type: none;

	margin: 0;

	font-size: 12pt;
	font-family: ubuntu, sans-serif;
	text-align: center;
}

nav a {
	color: var(--textMain);
	text-decoration: none;
	padding: 0.5rem 1rem;
}

/*To display the list of Letters on the Letters page*/

.letterlist {
	text-align: left;
	text-decoration: none;
	font-size: 24pt;
	display: flex;
	color: var(--textMain);
	font-family: ubuntu, sans-serif;
	list-style-type: none;
	padding: 0.5rem 0rem;
}

.letterlist:hover {
	color: var(--textDark);

}