															/* CSS for New Photos Site (Now with Letters! July 31 2020) */
html {
	background-color: #262626;
}

body {
	margin: 0% 10%;
	font-family: ubuntu, sans-serif;
}

h1 {
	color: #FFF;
	text-align: left;
	position: relative;
	font-family: ubuntu, sans-serif;
	font-size: 80px;
	padding: 0px;
}

h2 {
	color: #000;
	font-family: ubuntu, sans-serif;
    padding-top: 11rem;
    padding-bottom: 10rem;
	font-size: 40px;
	
	/*4285F4*/
}

h3 {
	color: #F277F7;
	font-family: ubuntu, sans-serif;
	font-size: 30px;
	margin: 0px;
	padding: 0px;
}

p {
	font-family: ubuntu, sans-serif;
	color: #FFF;
	text-align: left;
}

img {
	max-width: 80%;
	object-fit: cover;
	align-content: left;
}

iframe {
	display: block;
	margin: 10% 10% auto;
}

/* Home Page Cards - Credit: Unknown Website with HTML + CSS Cards */

.page_title {
	color: #4285F4;
	position: relative;
	font-family: ubuntu, sans-serif;
	font-size: 60px;
}

.center {
	text-align: center;
}

.titleleft {
	text-align: left;
	padding-left: 1%;
}

.content {
	display: inline;
	list-style-type: none;
	float: left;

}

.card {
	display: inline-block;
	background-color: #FFF;
	opacity: 0.75;
	width: 20rem;
	height: 30rem;
	border-radius: 10px;
	margin: 1rem;
	text-align: center;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	}

.cover {
	width: 25rem;
	height: 35rem;
	border-radius: 10px;
	margin: 1rem;
}

/* Scaleable Gallery Grid Setup - Credit: https://codepen.io/vhanla/pen/PxjZvj?editors=1100*/

.gallery {
  display: grid;
  grid-column-gap: auto;
  grid-row-gap: auto;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.gallery img {
  max-width: 100%;
  border-radius: 0.25rem;
  box-shadow: 0 0 1rem #333;
}

.gallery img:hover {
  box-shadow: 0 0 1rem #333;
}

.gallery .content {
  padding: 0.5rem;
}

.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  cursor: pointer;
}

.gallery .gallery-item:hover {
  transform: scale(1.02);
}

/*List of Helpful Links at the Top - Credit: https://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_menu*/

li {
	display: inline;
	list-style-type: none;
	float: right;
}

li a {
	display: block; 
	color: #FFF;
	text-align: right;
	padding: 10px 16px;
	text-decoration: none;
}

li a:hover {
	color: #D8D8D8;
}

/*To display the list of Letters on the Letters page*/

.letterlist {
	text-align: left;
	text-decoration: none;
	font-size: 2rem;
	display: block;
	color: #FFF;
	font-family: ubuntu, sans-serif;
	list-style-type: none;
	padding: 0.5rem 0rem;
}

.letterlist:hover {
	color: #D8D8D8;
}
